// Colors

$basic-black: black;
$basic-white: white;
$falu-red: #830418;
$yale-blue: #05386B;
$persian-green: #379683;
$emerald: #5cdb95;
$celadon: #8ee4af;
$beige: #edf5e1;
$footer-background: #212121;

// Viewports

$tablet-width: 700px;
$desktop-width: 900px;
$max-width: 1200px;

// page-padding

$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 40px;
